@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
/* ::selection{color, background} optional*/

img{
    /* max-width: 100%; */
    /* height: auto; */
    display: block;
}
input, button{
    border: none;
    background: none;
    border:1px solid rgba(129, 109, 158, 0.2);
    
}
input:focus, textarea:focus, button:focus{
    border: 1px solid #6c757d;
}
button{
    cursor: pointer;
}
textarea{
    resize: none;
    border:1px solid rgba(129, 109, 158, 0.2);
}
